body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: rgb(30, 50, 80);
	margin: 0;
	padding: 10px;
	max-width: 700px;
	margin: auto;
}

a,
a:visited {
	 text-decoration: none; 
	 color: rgb(0, 131, 207);
}